<h1>Welcome to learnpython.fr</h1>
<style>
  h1{
    font-family: sans-serif;
    font-size: 50px
  }
</style>
Dear  <%= @user.first_name %>
<p>
  Thank you for joining learnpython.fr .

</p>

<%= link_to 'get back', root_url %>
