<h1>All available courses</h1>

<div class="container"><% @courses.each do |course| %><h6><%= course.name %></h6><% end %></div>

<%# <% if policy(Course).create? %>

<%= link_to 'create a new course', courses_new_path %>

<%# <% end %> 
